anyio==4.13.0
asgiref==3.11.1
beautifulsoup4==4.14.3
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.0
colorama==0.4.6
deep-translator==1.11.4
Django==5.2.14
drf-yasg==1.21.10
djangorestframework==3.16.1
dotenv==0.9.9
googletrans-py==4.0.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.16
joblib==1.5.3
mtranslate==1.8
nltk==3.9.4
python-dotenv==1.2.2
regex==2026.5.9
requests==2.34.2
soupsieve==2.8.4
sqlparse==0.5.5
textblob==0.20.0
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
